<!doctype html5>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">    
</head>
<body>
    <h1>Signup</h1>
    <form action="/validate-signup", method="POST">
    <table>   
        <tr> 
            <td>
                Username
            </td>
            <td>
                <input class="textBox" name="username" type="text" value="{{username}}" />
            </td>
            <td class="error">
                {{username_error}}
            </td>
        </tr>


        <tr> 
            <td>
                Password
            </td>
            <td>
                <input class="textBox" name="password" type="password" value="{{password}}" />
            </td>
            <td class="error">
                {{password_error}}
            </td>
        </tr>

        <tr> 
            <td>
                Verify Password
            </td>
            <td>
                <input class="textBox" name="v_password" type="password" value="{{v_password}}" />
            </td>
            <td class="error">
                {{v_password_error}}
            </td>
        </tr>

        <tr> 
            <td>
                Email (optional)
            </td>
            <td>
                <input class="textBox" name="email_option" type="text" value="{{email_option}}" />
            </td>
            <td class="error">
                {{email_option_error}}
            </td>
        </tr>

    </table>    

    <p>
        <input type="submit" value="Validate" />
    </p>

    </form>
</body>
</html>



